<nav class="navbar navbar-default navbar-fixed-top navbar-expand">
  <div class="inside">
    <a routerLink="">
        <i class="material-icons">
            pets
        </i>
    <h1>dogs!</h1>
    </a>
    <ul class="nav navbar-nav navbar-right">
      <li>
      <a routerLink="">
          <i class="material-icons">
              shuffle
              </i>
      </a> </li>
      <li>
      <a routerLink="breedlist">
          <i class="material-icons">
              view_list
          </i>
      </a>
    </li>
      </ul>
  </div>
</nav>