nav {
    background-color: #ebd8c6;
    padding-left: 35px;
    padding-right: 35px;

    a {color: black;;}      /* unvisited link */
    a:visited {color: black;}  /* visited link */
    a:hover {color:#bb7e44;}  /* mouse over link */
    a:active {color:#bb7e44;}  /* selected link */
}
h1 {
    display: inline-block;
    padding-left: 30px;
}