/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Handlee', cursive;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}

#container {
    display: grid;
    height: 100%;
    grid-template-rows: auto auto 50px;
}